extends ./layout.jade

block content
	h2 About Tipster
	p Tipster is the platform on which you will find cool places in the cities you plan to visit! Hot spots, museums and concerts are recommended and reviewed by locals and previous visitors that will inspire you to discover even more. You can also recommend and review places you’ve seen and liked in order to convince others that it is worth going as well! 
	br
	p It’s all about exchanging expierences! Enjoy!
	br
	p PEACE OUT