extends ./layout.jade


block content
    h1 List of cities and cityTips!

    each country in countries
       country #{country.name}
       h2=country.name
            each city in country.cities
                h2= city.name
