extends ./layout.jade

h2 waddup
//- each place in city
//- 	h2 'The city tips of ' + #{place.name} + ' in ' + #{place.country.name}

//- if city.cityTip
//- 	each tip in city.cityTip
//- 		p #{tip.title}
//- 		p #{tip.body}
//- else 
//- 	p No city tips were found.