doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
      form(name="searchform", method="post", action="/searchResult")
        div.input
            span.label 
            input(type="text", name="searchTyping")
            div#foundPlaces
        div.actions
            input(type="submit", value="Search")
    block content
