extends ./layout.jade

script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
			script.
				 $(document).ready(function(){
					$('.log-btn').click(function(){
					$('.log-status').addClass('wrong-entry');
					$('.alert').fadeIn(500);
					setTimeout( "$('.alert').fadeOut(1500);",3000 );
					});
						$('.form-control').keypress(function(){
						$('.log-status').removeClass('wrong-entry');
					});
					});
			

block content
	.middle 
		.login-form
			h1 Tipster
			.form-group
				input#email.form-control(type='text', placeholder='Email', name='email')
				i.fa.fa-email
			.form-group.log-status
				input#password.form-control(type='password', placeholder='Password', name='password')
				i.fa.fa-lock
				br
				span.alert Invalid Credentials
				button.log-btn(type='button') Log in
	

