extends ./layout.jade

script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
			script.
				 $(document).ready(function(){
					$('.log-btn').click(function(){
					$('.log-status').addClass('wrong-entry');
					$('.alert').fadeIn(500);
					setTimeout( "$('.alert').fadeOut(1500);",3000 );
					});
						$('.form-control').keypress(function(){
						$('.log-status').removeClass('wrong-entry');
					});
		});
			

block content
	h1 Enter username and password to login:
	if user
		p you are logged in already!
	else
		.login-form
			h1 Tipster
			.form-group
				input#UserName.form-control(type='text', placeholder='Username ')
				i.fa.fa-user
			.form-group.log-status
				input#Passwod.form-control(type='password', placeholder='Password')
				i.fa.fa-lock
				span.alert Invalid Credentials
				a.link(href='#') Lost your password?
				button.log-btn(type='button') Log in
	

