doctype html
html
	head
		style
			include ../style.css
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
		script.
			$(document).ready(function () {
	
					})

	
	body
		#main
			h2 Hello #{name}
			p
			Welkom op je profiel
				each message in allOwnMessages
					h2 #{message.title}
					h3 ✏ #{message.body}